cython
pycocotools==2.0.0
keras-resnet==0.2.0
h5py==2.10.0
keras==2.4.3
matplotlib
numpy==1.19.5
six==1.15.0
opencv-python==3.4.13.47
pillow
progressbar2
tensorflow-gpu==2.6.4
git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI
tqdm